/* Styles */
#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: orange;
}

nav {
    padding-top: 20px;
}

ul.chat-message-list {
    padding-left: 5px;
    list-style-type: none;
}

.chat-message-timestamp {
    display: inline-block;
    width: 65px;
    text-indent: 0;
}

.chat-message-text {
    display: inline-block;
    padding-left: 0.5em;
}
