/* Styles */

a.active {
    color: orange;
}

div.nav {
    padding-bottom: 0.5em;
}

a.header-logo-img {
    margin-left: 0.5em;
    background: url('../images/logo.png') no-repeat;
    height: 69px;
    width: 243px;
}

.welcome-header {
    padding: .5em;
}

.sub-header {
    padding: .5em;
}

div.chat-room-page {
    display: flex;
    flex-direction: row;
}

div.chat-room-chat-column {
    display: flex;
    flex-direction: column;
}

h1.room-description {
    font-size: 20px;
    font-weight: bold;
}

div.chat-room-message-list{
    flex: 1;
}

div.chat-room-new-message {
    background-color: cyan;
}

div.chat-room-checklist-column {
    margin-left: 1em;
    background-color: yellow;
}

ul.chat-message-list {
    padding-left: 5px;
    height: 70vh;
    overflow-y: scroll;
}

ul.chat-message-list li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul.chat-message-list li:nth-child(even) {
    background-color: #eeeeee;
}

.chat-message-timestamp {
    display: inline-block;
    width: 65px;
    text-indent: 0;
}

li.chat-message {
    padding-left: 65px;
    text-indent: -65px;
}

li.chat-action-message {
    font-style: italic;
    /*padding-left: 65px;
    text-indent: -65px;*/
}

ul.room-list li {
    font-size: larger;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.chat-action-message-text {
    display: inline-block;
    font-style: italic;
}
