/* Styles */
body.app-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div#app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div.app-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div.app-main-row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div.chat-room-buttons {
    padding-top: 1em;
    padding-bottom: 1em;
}

.checklist-chat-modal-backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0, 0.3);
    padding: 50px;
    z-index: 1000;
}

.checklist-chat-modal-dialog {
    z-index: 1001;
}

div.nav {
    padding-bottom: 1em;
}

div.header-logo-img {
    display: inline-block;
    margin-left: 0.5em;
    background: url('../images/logo.png') no-repeat;
    height: 69px;
    width: 243px;
}

.welcome-header {
    padding: .5em;
}

.sub-header {
    padding: .5em;
}

div.home-page {
    margin-top: 3em;
}

div.chat-room-page {
    flex-grow: 1;
    min-height: 0px;
    display: flex;
    flex-direction: row;
    margin: 1em 3em 0 3em;
}

div.chat-room-chat-column {
    display: flex;
    flex-direction: column;
}

div.room-info-panel-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.room-info-panel-title {
    flex: 1;
}

div.chat-room-checklist-column {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

ul.chat-message-list {
    padding-left: 5px;
    height: 100px; /* (overridden by flexbox, but needed to make overflow work) */
    flex-grow: 1;
    overflow-y: auto;
}

ul.chat-message-list > li {
    padding-bottom: 0.5em;
}

ul.chat-message-list > li:last-child {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

ul.chat-message-list > li:nth-child(even) div {
    background-color: #eeeeee;
}

.timestamp {
    width: 6em;
}

.chat-message-timestamp {
    display: inline-block;
    text-indent: 0;
    vertical-align: top;
}

div.chat-message, div.chat-action-message {
    padding-left: 6em;
    text-indent: -6em;
    vertical-align: top;
}

div.chat-message ul {
    list-style-type: disc;
}

div.chat-message ul li {
    text-indent: 0;
    text-align: left;
}

ul.room-list li {
    font-size: larger;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.chat-action-message-text {
    font-style: italic;
}

div.chat-message-text {
    display: inline;
    vertical-align: top;
}

div.chat-message-text p,
div.chat-message-text h1,
div.chat-message-text h2 {
    display: inline;
}

div.checklist-table-container {
    margin-bottom: 1em;
    height: 240px; /* (overridden by flexbox, but needed to make overflow work) */
    flex-grow: 1;
    overflow-y: auto;
}

table.checklist-table {
    background-color: lightgoldenrodyellow;
}

table.checklist-table > thead > tr > th {
    border-width: 1px;
    border-color: #00cccc;
}

table.checklist-table > tbody {
    border-width: 1px !important;
    border-color: #00cccc !important;
}

table.checklist-table > thead > tr > th {
    white-space: nowrap;
}
table.checklist-table > tbody > tr {
    border-width: 0;
    vertical-align: top;
}

table.checklist-table > tbody > tr > td {
    border-width: 0;
}

table.checklist-table > thead > tr > th:first-child,
table.checklist-table > tbody > tr > td:first-child {
    border-right-color: #ffaa9f;
    border-right-style: double;
    border-right-width: 3px;
}

button.checklist-item-button {
    color: #333;
    background-color: lightgoldenrodyellow;
    border-color: #e1e1bd;
}

ul#existingChecklistItemComments {
    max-height: 500x;
    overflow-y: auto;
}

.high-priority {
    color: red;
}

td.timestamp {
    white-space: nowrap;
}

ul.checklist-comment-list {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

ul.checklist-comment-list li {
    padding-bottom: 0.5em;
}

div.planned-value {
    font-style: italic;
}

div.planned-value-accurate {
    font-style: normal;
}

div.planned-value-inaccurate {
    text-decoration: line-through;
}

div.actual-value {
    display: block;
}

div.planned-value-missing, div.actual-value-missing, div.actual-equals-planned {
    display: none;
}

div.checklist-form-sequence-and-status-row {
    display: flex;
    flex-direction: row;
}
div.checklist-form-sequence-and-status-row div.form-group {
    padding-right: 1em;
}

div.checklist-form-status-and-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.checklist-form-status-div {
    width: 3em;
    margin-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

div.checklist-form-status-and-dropdown select {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.checklist-form-timestamps {
    display: flex;
    flex-direction: row;
}

div.checklist-form-timestamps > div.form-group {
    margin-right: 1em;
}

div.chat-participants {
    max-height: 400px;
    overflow-y: auto;
}

i.success-icon {
    color: green;
}
i.error-icon {
    color: red;
}
i.warning-icon {
    color: orange;
}
i.spinning-icon {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.display-linebreaks {
    white-space: pre;
}

/* Animations */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
