/* Styles */

a.active {
    color: orange;
}

div.nav {
    padding-bottom: 1em;
}

div.header-logo-img {
    display: inline-block;
    margin-left: 0.5em;
    background: url('../images/logo.png') no-repeat;
    height: 69px;
    width: 243px;
}

.welcome-header {
    padding: .5em;
}

.sub-header {
    padding: .5em;
}

div.chat-room-page {
    display: flex;
    flex-direction: row;
}

div.chat-room-chat-column {
    display: flex;
    flex-direction: column;
}

a.room-info-edit-link {
    color: #c0c0c0;
}

a.room-info-edit-link:hover {
    color: #ffffff;
}

div.chat-room-message-list{
    flex: 1;
}

div.chat-room-new-message {
    background-color: cyan;
}

div.chat-room-checklist-column {
    margin-left: 1em;
}

ul.chat-message-list {
    padding-left: 5px;
    height: 70vh;
    overflow-y: scroll;
}

ul.chat-message-list li {
    padding-bottom: 0.5em;
}

ul.chat-message-list li:nth-child(even) div {
    background-color: #eeeeee;
}

.timestamp {
    width: 65px;
}

.chat-message-timestamp {
    display: inline-block;
    text-indent: 0;
}

div.chat-message, div.chat-action-message {
    background-color: #fff;
    padding-left: 65px;
    text-indent: -65px;
}

ul.room-list li {
    font-size: larger;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.chat-action-message-text {
    font-style: italic;
}

table.checklist-table {
    background-color: lightgoldenrodyellow;
}

ul.checklist.comment-list li {
    padding-bottom: 0.5em;
}

ul.checklist-comment-list li:nth-child(even) div {
    background-color: #eeeeee;
}

div.planned-value {
    font-style: italic;
}

div.planned-value-accurate {
    font-style: normal;
}

div.planned-value-inaccurate {
    text-decoration: line-through;
}

div.actual-value {
    display: block;
}

div.planned-value-missing, div.actual-value-missing, div.actual-equals-planned {
    display: none;
}

i.success-icon {
    color: green;
}
i.error-icon {
    color: red;
}
i.warning-icon {
    color: orange;
}
i.spinning-icon {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
